/**
 * @name Inter 4.0 Font Theme
 * @author Ayoub Abedrabbo
 * @description Replaces Discord's font with an easier to read font: Inter 4.0.
 * @version 0.0.1
 * @authorId ayoubab1
 * @authorLink https://betterdiscord.app/developer/ayoubab1
 * @donate https://ko-fi.com/ayoubab1
 * @patreon http://patreon.com/AyoubAbedrabbo
 * @website https://linktr.ee/ayoubabedrabbo
 * @source https://github.com/Today20092/Discord-Inter-Font
 */

 @import url(https://fonts.bunny.net/css?family=inter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

 :root {
   --font: "Inter", sans-serif;
 }
 
 /* Apply font to all elements */
 * {
   font-family: var(--font) !important; /* Force the custom font */
 }
 
 /* Ensure placeholder text uses the font */
 ::placeholder {
   font-family: var(--font);
 }
 